@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
html{
    scroll-behavior: smooth;
}
/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
.navigation-bar{
    position: fixed;
    width: -webkit-fill-available;
    z-index: 100;
}
header{
    background: #51adf6;
    padding: 19px 150px;
    font-family: "Poppins",sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
}
.nav-logo{
    display: flex;
    font-family: "Pacifico",cursive;
    border: solid 3px black;
    padding: 1px 4px;
    border-radius: 43px;
    background-color: white;
}
.nav-logo p{
    font-size: 30px;
    color: rgb(11, 209, 244);
}
.nav-logo span{
    font-size: 30px;
    color: black;
}
.nav-menu ul{
    font-size: 19px;
    display: flex;
    gap: 90px;
}
.nav-menu ul li{
    list-style-type: none;
}
.active{
    background: white;
    padding: 10px 20px;
    border: solid 1px #a59a9a;
    border-radius: 33px;
    box-shadow: 0px 2px 5px 0px rgba(18, 17, 17, 0.4);
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
}
.nav-menu ul li a:hover{
    color: #4a494b;
}
.resume,.resume-btn{
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 13px 11px;
    border-radius: 25px;
    background-color: rgb(252, 241, 227);
    white-space: nowrap;
}
.resume:hover{
    background-color: rgb(245, 216, 182);
    border: solid 2px black;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.resume-btn:hover{
    background-color: rgb(245, 216, 182);
    border: solid 2px black;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.seperator{
    padding: 3px;
    background: #48e4ffb3;
}
.content{
    padding-inline: 10vw;
}
.content-box{
    position: relative;
    display: flex;
    height: 75vh;
    padding-top: 14vh;
} 
.content-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.name{
    width: fit-content;
    font-family: 'Pacifico';
    background-color: #ff4848;
    color: white;
    padding: 4px 20px;
    font-size: 20px;
    border-radius: 5px;
}
.featured-text{
    font-family: "Anton SC",sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-block: 20px;
}
#type-effect{
    font-family: "Bebas neue",sans-serif;
    font-size: 62px;
}
.designer{
    color: #00e0ff;
}
.developer{
    color: #f7b200;
}
.programmer{
    color: #3fff00;
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    font-family: "Poppins",sans-serif;
}
.social,.social-btns{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 19px 3px;
    gap: 40px;
}
.icon:hover{
    background-color: rgb(245, 216, 182);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background-color: beige;
}
.profile-pic{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    border: solid 4px #84d4ff;
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-indicator{
    display: flex;
    justify-content: center;
}
.scroll-button{
    position: relative;
    padding: 11px 16px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.mouse{
    width: 25px;
    height: 40px;
    border: 3px solid rgb(63, 223, 248);
    border-radius: 48px;
}
.mouse::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 11px;
    background-color: rgb(4, 77, 116);
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    animation: scroll 2s infinite;
}
@keyframes scroll{
    from{
        opacity: 1;
        top: 18px;
    }
    to{
        opacity: 0;
        top: 38px;
    }

}
.skills{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12vh;
}
.skills-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    min-height: 24vh;
    gap: 15px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 3vh;
    padding: 3vh 0;
    border-radius: 14px;
}
.skills-heading h4{
    font-family: "Bebas neue", sans-serif;
    font-size: 7vh;
    font-weight: 100;
    letter-spacing: 2px;
}
.skills-heading p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 0 7vh;
    font-weight: 300;
}
.skills-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.frontend,.design,.programming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 3vh;
    border-radius: 2vh;
}
.skills-info-heading{
    margin-top: 3vh;
    font-family: "Bebas neue", sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
}
.skills-info-description{
    padding: 0px 27px 15px 27px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.skills-img{
    display: flex;
    margin-bottom: 10vh;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
    padding: 1vh 13vh;
}
.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    gap: 5vh;
}
.projects-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    min-height: 24vh;
    gap: 15px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 2vh;
    padding: 3vh 0;
    border-radius: 14px;
}
.projects-heading h4{
    font-family: "Bebas neue", sans-serif;
    font-size: 7vh;
    font-weight: 100;
    letter-spacing: 2px;
}
.projects-heading p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 0 7vh;
    font-weight: 300;
}
.all-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    padding: 8vh;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
}
.portfolio,.netflix,.spotify{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vh;
    padding: 0 4vh;
}
.video video{
    border-radius: 10px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.6);
}
.project-info{
    font-size: 20px;
    font-family: "Poppins",sans-serif;
}
.contact{
    margin: 10vh 0;
}
.contact-boxes{
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
    margin: 0 10vh;
    border-radius: 5vh;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 5vh;
}
.form{
    width: 50%;
}
.contact-info-heading{
    font-size: 7vh;
    font-family: "Bebas neue",sans-serif;
    font-weight: 500;
}
.contact-email-number{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4vh;
} 
.email,.number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.email,.number p{
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 400;
}
.contact-handles{
    width: 15px;
    background-color: #00e0ff;
    padding: 7px;
    border-radius: 9px;
}
.form form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4vh;
}
.form form input,textarea{
    width: 80%;
    border: solid 1px #47b5f0;
    font-size: 2vh;
    font-family: "Poppins";
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
}
.submit-btn{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 8px 17px;
    border-radius: 10px;
    background-color: rgb(193, 255, 250);
    border: solid 0.5px #8d8dff;
}
.submit-btn:hover{
    background-color:  rgb(126, 222, 214);
    border: solid 1px black;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #322940;
    padding: 3vh 0;
    gap: 0.5vh;
}
.quote{
    font-family: "Pacifico",sans-serif;
    font-size: 3vh;
    font-weight: 50;
}
.copyright{
    letter-spacing: 0.25px;
    font-family: "Poppins",sans-serif;
}
@media screen and (max-width: 1024px) {
    .nav-menu ul {
        gap: 40px; 
    }
    .nav-logo {
        gap: 10px;
    }
    .resume {
        padding: 10px 15px; 
        font-size: 14px; 
    }
}
@media screen and (max-width: 768px) {
    header {
        padding: 15px; 
    }
    .nav-menu ul {
        display: none; 
        flex-direction: column; 
        position: absolute;
        background-color: #51adf6;
        width: 100%;
        top: 100%;
        left: 0;
        margin-top: 5px; 
    }
    .nav-menu ul.active {
        display: flex; 
    }
    .nav-menu ul li {
        margin-bottom: 10px; 
    }
    .nav-menu ul li a {
        padding: 10px; 
        width: 100%;
        text-align: center; 
    }
    .resume {
        padding: 10px;
        font-size: 12px; 
    }
}
