@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
}
.navigation-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 100;
}
header{
    width: 100%;
    background: #51adf6;
    padding: 3vh 0vw;
    font-family: "Poppins",sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vw;
}
.hamburger{
    display: none;
    width: fit-content;
    opacity: 1;
}
.nav-logo{
    display: flex;
    font-family: "Pacifico",cursive;
    border: solid 3px black;
    padding: 1px 4px;
    border-radius: 43px;
    background-color: white;
}
.nav-logo p{
    font-size: 30px;
    color: rgb(11, 209, 244);
}
.nav-logo span{
    font-size: 30px;
    color: black;
}
.nav-menu ul{
    font-size: 19px;
    display: flex;
    gap: 90px;
}
.nav-menu ul li{
    list-style-type: none;
}
.active{
    background: white;
    padding: 10px 20px;
    border: solid 1px #a59a9a;
    border-radius: 33px;
    box-shadow: 0px 2px 5px 0px rgba(18, 17, 17, 0.4);
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
}
.nav-menu ul li a:hover{
    color: #4a494b;
}
.resume,.resume-btn{
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 0.7rem 1rem;
    border-radius: 25px;
    background-color: rgb(252, 241, 227);
    white-space: nowrap;
}
.download{
    display: flex;
    gap: 0.5vw;
    color: black;
    text-decoration: none;
}
.resume:hover{
    background-color: rgb(245, 216, 182);
    border: solid 2px black;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.resume-btn:hover{
    background-color: rgb(245, 216, 182);
    border: solid 2px black;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.seperator{
    height: 1vh;
    width: 100%;
    background: #48e4ffb3;
}
.side-bar{
    display: flex;
    position: fixed;
    background-color: rgba(21, 63, 84, 0.733);
    z-index: 1000;
    top: 0;
    right:-100%;
    height: -webkit-fill-available;
    width: 40vh;
    backdrop-filter: blur(10px); 
    align-items: center;
    justify-content: center;
    transition:right 0.3s ease;
}
.cross{
    position: absolute;
    left: 25px;
    top:25px;
    background: none;
    border: none;
}
.cross img{
    width: 35px;
}
.side-bar ul{
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.side-bar ul li{
    list-style-type: none;
}
.side-bar ul li a{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
    color: black;
}
.active-sidebar{
    background: rgb(255, 247, 247);
    color: #000000;
    padding: 1vh 4vw;
    border: solid 1px #000000;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(18, 17, 17, 0.4);
}

.content{
    padding-top: 13vh;
    padding-inline: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}
.content-box{
    position: relative;
    display: flex;
    height: 75vh;
} 
.content-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 65vh;
    flex-direction: column;
    width: 50%;
    padding-left: 1vw;
}
.name{
    width: fit-content;
    font-family: 'Pacifico';
    background-color: #ff4848;
    color: white;
    padding: 0.3rem 1rem;
    font-size: 20px;
    border-radius: 5px;
}
.featured-text{
    font-family: "Anton SC",sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-block: 2vh;
}
#type-effect{
    font-family: "Bebas neue",sans-serif;
    font-size: 62px;
}
.designer{
    color: #00e0ff;
}
.developer{
    color: #f7b200;
}
.programmer{
    color: #3fff00;
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 3vh;
    font-family: "Poppins",sans-serif;
}
.social,.social-btns{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3vh 0;
    gap: 3vw;
}
.icon:hover{
    background-color: rgb(245, 216, 182);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background-color: beige;
}

.instagram,.linkdin,.facebook,.github{
    color: black;
    text-decoration: none;
}
.profile-pic{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 65vh;
    width: 50%;
}
.image{
    border: solid 4px #84d4ff;
    margin: auto 0;
    width: 65%;
    height: 65%;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-indicator{
    display: flex;
    justify-content: center;
}
.scroll-button{
    position: relative;
    padding: 11px 16px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.mouse{
    width: 25px;
    height: 40px;
    border: 3px solid rgb(63, 223, 248);
    border-radius: 48px;
}
.mouse::before{
    position: absolute;
    content: "";
    width: 6px;
    height: 11px;
    background-color: rgb(4, 77, 116);
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    animation: scroll 2s infinite;
}
@keyframes scroll{
    from{
        opacity: 1;
        top: 18px;
    }
    to{
        opacity: 0;
        top: 38px;
    }

}
.skills{
    padding-block: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.skills-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    min-height: 24vh;
    gap: 1vh;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6);
    padding: 3vh 0;
    border-radius: 14px;
}
.skills-heading h4{
    font-family: "Bebas neue", sans-serif;
    font-size: 7vh;
    font-weight: 100;
    letter-spacing: 2px;
}
.skills-heading p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 0 7vh;
    font-weight: 300;
}
.skills-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}
.frontend,.design,.programming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 3vh;
    border-radius: 2vh;
}
.skills-info-heading{
    margin-top: 3vh;
    font-family: "Bebas neue", sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
}
.skills-info-description{
    padding: 0px 27px 15px 27px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.skills-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
    padding: 3vh 4vw;
}
.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-block: 2vh;
    gap: 5vh;
}
.projects-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    min-height: 24vh;
    gap: 1vh;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.6);
    padding: 3vh 0;
    border-radius: 14px;
}
.projects-heading h4{
    font-family: "Bebas neue", sans-serif;
    font-size: 7vh;
    font-weight: 100;
    letter-spacing: 2px;
}
.projects-heading p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding: 0 7vh;
    font-weight: 300;
}
.all-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    padding: 6vh 2vw;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
}
.portfolio,.netflix,.spotify,.eclinic,.diagno,.image-generator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 0 1.5vw;
}
.video video{
    border-radius: 10px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.6);
}
.project-info{
    font-size: 20px;
    font-family: "Poppins",sans-serif;
}
.contact{
    padding-block: 2vh;
}
.contact-boxes{
    padding: 7vh 6vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.6);
    border-radius: 5vh;
    gap: 8vw;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    gap: 5vh;
}
.form{
    width: 60%;
}
.contact-info-heading{
    font-size: 7vh;
    font-family: "Bebas neue",sans-serif;
    font-weight: 500;
}
.contact-email-number{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4vh;
} 
.email,.number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.email,.number p{
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 400;
}
.contact-handles{
    width: 15px;
    background-color: #00e0ff;
    padding: 7px;
    border-radius: 9px;
}
.form form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4vh;
}
.form form input,textarea{
    width: 100%;
    border: solid 1px #47b5f0;
    font-size: 1em;
    font-family: "Poppins";
    font-weight: 300;
    padding: 0.7rem;
    border-radius: 10px;
}
.submit-btn{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    padding: 1vh 3vw;
    border-radius: 10px;
    background-color: rgb(193, 255, 250);
    border: solid 0.5px #8d8dff;
}
.submit-btn:hover{
    background-color:  rgb(126, 222, 214);
    border: solid 1px black;
}
.ending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #322940;
    padding: 3vh 0;
    gap: 0.5vh;
}
.quote{
    font-family: "Pacifico",sans-serif;
    font-size: 3vh;
    font-weight: 50;
}
.copyright{
    letter-spacing: 0.25px;
    font-family: "Poppins",sans-serif;
}
@media only screen and (max-width: 500px){
    ::-webkit-scrollbar{
        width: 7px;
        border-radius: 25px;
    }
    body{
        width: 100vw;
    }
    .navigation-bar{
        width: 100vw;
    }
    header{
        width: 100vw;
        padding: 3vh 0;
    }
    nav{
        gap: 66vw;
    }
    .nav-menu{
        display: none;
    }
    .resume{
        display: none;
    }
    .nav-logo{
        padding:4px 6px;
        border-radius: 52px;
    }
    .nav-logo p{
        font-size: 1.5em;
    }
    .nav-logo span{
        font-size: 1.5em;
    }
    .hamburger{
        display: block;
        padding: 4px 5px 1px 5px;
    }
    .hamburger img{
        width: 4vw;
    }
    .content{
        padding-top: 20vh;
        width: 100vw;
        padding-inline: 0;
        gap: 2vh;
    }
    .content-box{
        align-items: center;
        flex-direction: column;  
        justify-content: center;
        height: auto;
        gap: 4vh;
    }
    .profile-pic{
        order: 1;
        justify-content: center;
        align-items: center;
        width: 80%;
        min-height: 0;
    }
    .image{
        margin: 0;
        width: 55vw;
        height: 31vh;
    }
    .content-text{
        width: 100vw;
        order:2;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        min-height: 0;
    }
    .name{
        font-size: 1em;
    }
    .featured-text{
        font-size: 2.7em;
    }
    #type-effect{
        font-size: 1.25em;
    }
    .featured-text-info{
        font-size: 1em;
        padding-inline: 6vw;
    }
    .resume-btn{
        font-size: 1em;
    }
    .resume-btn img{
        width: 6vw;
    }
    .social{
        gap: 6vw;
    }
    .icon{
        width: 11vw;
        height: 6vh;
    }
    .scroll-indicator{
        display: none;
    }
    #skills{
        width: 95vw;
    }
    .skills-heading{
        width: 100%;
        min-height: 0;
    }
    .skills-heading h4{
        font-size: 2em;
    }
    .skills-heading p{
        font-size: 1em;
        padding: 0 5.5vw;
    }
    .skills-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
    .skills-box {
        width: 100%;
        margin-bottom: 0;
    }
    .skills-info-heading{
        font-size: 1.5em;
    }
    .skills-info-description{
        font-size: 0.9em;
        padding: 0 5.5vw 3.5vh 5.5vw;
    }
    .projects{
        width: 95vw;
    }
    .projects-heading{
        width: 100%;
        min-height: 0;
    }
    .projects-heading h4{
        font-size: 2em;
    }
    .projects-heading p{
        font-size: 1em;
        padding: 0 5.5vw;
    }
    .portfolio, .netflix, .spotify,.diagno,.eclinic,.image-generator{
        flex-direction: column;
    }
    .video video{
        width: 84vw;
        height: auto;
    }
    .project-info{
        font-size: 1em;
        padding: 0 2vw;
    }
    .eclinic .project-info{
        order: 2;
    }
    .image-generator .project-info{
        order: 2;
    }
    .spotify .project-info{
        order: 2;
    }
    .contact{
        width: 95vw;
        padding-bottom: 2vh;
    }
    .contact-boxes{
        flex-direction: column;
        padding: 4vh 6vw;
    }
    .contact-info{
        width: 100%;
        gap: 2vh;
    }
    .contact-info-heading{
        font-size: 2em;
    }
    .contact-email-number{
        gap: 1vh;
    }
    .email , .number{
        gap: 3vw;
    }
    .email img{
        width: 2.5vw;
    }
    .email p{
        font-size: 0.8em;
    }
    .number img{
        width: 2.5vw;
    }
    .number p{
        font-size: 0.8em;
    }
    .social-btns{
        display: none;
    }
    .form{
        width: 100%;
    }
    .form form{
        align-items: center;
        gap: 2vh;
    }
    footer .quote{
        font-size: 1em;
    }
    .copyright p{
        font-size: 1em;
    }
} 
